.Keyboard {
    width: 250px;
    margin: 50px auto;
}

.Keyboard .pass_result {
    border: 1px solid #777777;
    height: 50px;
    text-align: right;
    line-height: 50px;
}

.Keyboard .pass_result div {
    padding: 0 10px;
}

.Keyboard .pass_result .Red {
    background: #990000;
    color: #ffffff;
}

.Keyboard .pass_result .Green {
    background: #009900;
    color: #ffffff;
}

.Keyboard .button-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.Keyboard .button-block div {
    width: 30%;
    margin-bottom: 10px;
}

.Keyboard .button-block button {
    width: 100%;
}